{
    debug
    experimental_http3
    email kucuny@gmail.com
    admin off
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    local_certs
}

localhost

reverse_proxy backend:12095

log {
    level DEBUG
}
